##########################################
# .gitignore file for Jabong Portal Repo #
# @copyright Jade eServices Pvt Ltd.     #
##########################################

###############################################################
# OS X/Windows temporary files that should never be committed #
###############################################################
[Tt]humbs.db
ehthumbs.db
.DS_Store
*.swp
*.lock
*.out
*.bkp
*-bkp
*.old
*.hmap
.Trashes
*~
Desktop.ini

####
# Recycle Bin used on file shares
$RECYCLE.BIN/

###########################
## Windows Installer files #
############################
*.cab
*.msi
*.msm
*.msp

##########################
## Version control files #
##########################
/CVS/*
*/CVS/*
.cvsignore
*/.cvsignore
.svn
*.orig
*.rej

####
# Ignored Files for Jabong Developers.
/_scratch/*

#################
# IDEs: Eclipse #
#################
.idea
.cproject
.project
*.pydevproject
.metadata
.gradle
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.launch

##################
# IDEs: Netbeans #
##################
nbproject/
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.komodotools/
*.komodoproject

##############################
# Miscellaneous Text Editors #
##############################
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
.*.kate-swp
.swp.*
.cproject
.buildpath
.target
_notes/*
dwsync.xml


# Local configs
config/autoload/*local.php

# Binary gettext files
*.po

###########################
# Build, Cache, Logs etc. #
###########################
build/*
cache/*
log/*.log
logs/*.log
*.log
temp/*
tmp/*

###############################
# Ignore files in target dir #
###############################

target/
.classpath
dbconnection.properties

#####################
# End of .gitignore #
#####################
